<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    
    <link rel="shortcut icon" type="image/png" href="/img/icon-196x196.png">
    <link rel="shortcut icon" sizes="196x196" href="/img/icon-196x196.png">
    <link rel="apple-touch-icon" href="/img/icon-196x196.png">

    {% assign pagecontent_description = page.description | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}

    <meta name="description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}"/>

     <!-- Facebook integration -->
    <meta property="og:title" content="{{ page.title }}"/>
    {% if page.image %}<meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}"/>{% endif %}
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}"/>
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}"/>

    <!-- Twitter integration -->
    <meta name="twitter:card" content="summary">
    {% if site.twitter_url %}<meta name="twitter:site" content="{{ site.twitter_url }}">{% endif %}
    <meta name="twitter:title" content="{{ page.title }}" />
    {% if page.image %}<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />{% endif %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    {% for class in page.page_class %}
        {% if class.class %}
            <link rel="stylesheet" href="{{ '/css/pages/' | append: class.class | append: '.css' | prepend: site.baseurl }}">
        {% endif %}
    {% endfor %}
    
</head>