body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px;

    @include phone-min {
        padding: 20px; 
    }
}

main {
   
}